body{
    background-color:#f1e3f3;
    font-family: 'Special Elite', cursive;
    text-align: left;
    color: #331e38;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom:0px;
    margin-left: 0px;  
}
article{
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}
h2{
    text-align: center;
    font-family: 'Underdog', cursive;
}
h3{
    color: ;
}
#lit{
    padding: 10px;
    background: pink;
  }
.ugh{
    display: inline;
    padding: 0px 10px 0px 10px;
  }

header{
    text-align: center;
	background: url("https://images.unsplash.com/photo-1486246772917-8947d0f7f541?auto=format&fit=crop&w=975&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
    background-size: cover;
    padding:0px 0px 0px 0px;
    color:  #c2bbf0;
}
h1{
    font-size: 50px;
}
#header-pic{
    margin: 40px 0px 0px 0px;
    border: 10px solid #8F95D3;
    border-radius: 150px;

}
div{
 margin: 0 auto;
}
#pic{	
	margin: 0 auto;
    border: 10px solid #8F95D3;
    border-radius: 150px;
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 8px 20px;
    border: 2px solid #e7dfc6;
    border-radius: 100px;
    background: #613cea;
    background: -webkit-gradient(linear, left top, left bottom, from(#613cea), to(#fbff81));
    background: -moz-linear-gradient(top, #613cea, #fbff81);
    background: linear-gradient(to bottom, #613cea, #fbff81);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 20px trebuchet ms;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}
.button:hover {
    background: #7448ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#7448ff), to(#ffff9b));
    background: -moz-linear-gradient(top, #7448ff, #ffff9b);
    background: linear-gradient(to bottom, #7448ff, #ffff9b);
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}
.button:active {
    background: #3a248c;
    background: -webkit-gradient(linear, left top, left bottom, from(#3a248c), to(#fbff81));
    background: -moz-linear-gradient(top, #3a248c, #fbff81);
    background: linear-gradient(to bottom, #3a248c, #fbff81);
    text-transform: uppercase
}
.button:focus {
    text-transform: uppercase
}
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 8px 20px;
    border: 2px solid #e7dfc6;
    border-radius: 100px;
    background: #613cea;
    background: -webkit-gradient(linear, left top, left bottom, from(#613cea), to(#fbff81));
    background: -moz-linear-gradient(top, #613cea, #fbff81);
    background: linear-gradient(to bottom, #613cea, #fbff81);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 20px trebuchet ms;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}
.button:hover {
    background: #7448ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#7448ff), to(#ffff9b));
    background: -moz-linear-gradient(top, #7448ff, #ffff9b);
    background: linear-gradient(to bottom, #7448ff, #ffff9b);
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase
}
.button:active {
    background: #3a248c;
    background: -webkit-gradient(linear, left top, left bottom, from(#3a248c), to(#fbff81));
    background: -moz-linear-gradient(top, #3a248c, #fbff81);
    background: linear-gradient(to bottom, #3a248c, #fbff81);
    text-transform: uppercase
}
.button:focus {
    text-transform: uppercase
}
.button:before{
    content:  "\0000a0";
    display: inline-block;
    height: 24px;
    width: 24px;
    line-height: 24px;
    margin: 0 4px -6px -4px;
    position: relative;
    top: 0px;
    left: 0px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAEx0lEQVRIia2VfWhVdRjHP/ecc7frvXvVtbeYzusLy5fJjHxBSVkGUkynJf4ziJQCq1mJEYJJEtEfEQUGEUqiQVR/aC++FtV0c7pw0ticOt3ddvd2d7fde3ffz73nnF9/nDO9hEmDHng48OP5fV+e5+H8ZGYY9QspXlfG6ifymSNpxMdUkjPFeGQ0vVVyXIw2C6P3rAg2faR2fr61+fud2bvKHDj+F4JfGsu+E7EhISKDQkSGhIj7hBi5JHqPbbv1aS3r/1kvzZhBCFBDVgYh5gd7Ie5tH1a9cuj9306+6NyVWa7M3IMBqTDoBiBMQpMZ16JNWS806l+GIh/49l7kHIA8U/iGFWKHOz+y1KZOQnYe6BroCdCToMWxF8yVKnKiz7Zdu/PVYIyEXF1EztPlLOwOMGlKenRsmZ/e4fJ3Lo12XcbmuUD27DngKAQtDloS0jFyy+a5SoJX9G9uqL/LR7ay9+CBhh92b3hs90s1tlWbK6by1ZiI3Q4SfBjhunlsyHOwTFGwJ5MqmudPXGXlYHeCljDdCLCl/BXHzg9+Yft6O4cb3nz9EK55Jl4qSHrCYwx6vf1To4Otnr6Ri8fbROvZXjwWx2ygsqqIqlef5OXnFlFb4S6VnOv3gK5bkgTqWBeb955ersRT6AQ8ILnuC7YXzpPcs+e7qTHcNVqooW7HoDE0MnwvMuFrudkz/uvRZlqavNzYd5Fz3jDvvZvn2+dUvWBzmkPXIdthZ0ERc5WbfnpEaABbbgUI40FXJGEusSTIKiqT3MWPL0YyFq+ondq1fafPaG/vurD+cPj5z65yePNyNpYagZWgmgSGDSbbkGQU5coQt6OBcXKLgyaBTZi7lbF+5keAAUjgsAWkrMlwFeaah6W8WbeR1JXoqgke6AZ1AGRQun0M+QPhUK4aKADjAbicAc60GwMxchf/tTEiMTTAOPgMS1atLdmCMQV6GsL3QA2ABFoaQ0kYhCZDqndBsLuAnCJANl1IwsS/70RH7+3H1x5nRCV8ooOPjzZQW19XeDy/ODsHtRcS45gDgLgfhsNMKIAWiOMhOVqN4QOnCxxOsNlBsmUsqI4oBmeNgjEmAgfXyO+459sXy0oaUnfN9trNFpKCgT5CV4fwKABjUbpRqEcRQBT0KGiAJJkp28AGSh4UFsLqpVQi0iBSpstsU/h0Jm5Ch5/LkaTpgA4fHQKwKdbYFEw1imGldSZbabMSzMEbFrgBWieMDKOd7OAIYCgAl/roSajgzLMA7KZNBJCTcSZbRJn/YGERqJBuBb8HzvRz8vwtLmOV0zXKkD9CqLKUAuwgpiDQbra1sBLk5UBJBomU4UAF0QfRFggmodlP076fOWBJNAlSOqHxMN5KOwViFMa7YVgQlUGJ9uNweSCnHLKrQCoFHCA00Ccg3gNTXkgJjDP9nNr/E28bBv5pg9PvgTY1yT29i2r/OPRp+PZfYE8gRvyNdTSuLWdjSYAcpQ2UWSBbm4wG0TTGjQDdx65z5Ewn3wLhjAY+eHCGE3SNhdj+V5yu106ze2CS64DReIqWHAdL6paxafVcnipyUZyloERUQnfG6fmxkz/u+GgFJqxpPDzqqlnzST0nnFm4/7UIHNbY8wAnM3wRJSBrJhf+S/wNbS430494JFMAAAAASUVORK5CYII=") no-repeat left center transparent;
    background-size: 100% 100%;
}
p{
    max-width: 500px;
    padding: 20px;
    margin: 0 auto;
}
